<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:700' rel='stylesheet' type='text/css'>
{% include head.html %}
</head>

<body id="page">

{% include navigation.html %}

<div id="main" role="main">
  <article class="entry">
    {% if page.image.feature %}<img src="{{ site.url }}/images/{{ page.image.feature }}" class="entry-feature-image" alt="{{ page.title }}" {% if site.logo == null %}style="margin-top:0;"{% endif %}>{% if page.image.credit %}<p class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></p>{% endif %}{% endif %}
    <div class="entry-wrapper">
      <header class="entry-header">
        <h1 class="entry-title">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
      </header>
      <div class="entry-content">
        {{ content }}
      </div><!-- /.entry-content -->
      <div class="">

      </div>
    </div><!-- /.entry-wrapper -->




     <!--/MyCode-->

    <!-- My Code -->
        <!-- Our Team -->
        <section class="container">
        <p id="team" class="col-sm-12 col-xs-12 text-center">Our Team 2018-2019</p>
        </section>
    
    
        <!-- Managers -->
    
    
               <!-- convener7 -->
        <section class="container">
        <div class="col-sm-4 col-xs-4 manager convener ">
        <a class="mybox" href="{{ page.convener7.fblink }}"><img src="{{ site.url }}/images/{{ page.convener7.image }}" title="Facebook">
        <div class="myoverbox">
        <div class="mytitle myovertext">f</div>
        </div>
        </a>
        <div class="name">
        <p>{{ page.convener7.name}}</p>
        <b> Manager </b>
        </div>
        </div>
                <!-- /Convener 7 -->
        <div class="col-sm-2 col-xs-2"></div>

                <!-- Convener 9 -->
        <div class="col-sm-4 col-xs-4 manager convener">
        <a class="mybox" href="{{ page.convener9.fblink }}"><img src="{{ site.url }}/images/{{ page.convener9.image }}" title="Facebook">
        <div class="myoverbox">
        <div class="mytitle myovertext">f</div>
        </div>
        </a>
        <div class="name">
        <p>{{ page.convener9.name}}</p>
        <b> Manager </b>
        </div>
        <div class="col-sm-2 col-xs-2"></div>
        </section>
                <!-- /Convener 9 -->
          

    <!--/MyCode-->

    <!-- My Code -->
        <!-- Our Team -->
        <section class="container">
        <p id="team" class="col-sm-12 col-xs-12 text-center">Our Team 2017-2018</p>
        </section>

        <!-- Managers -->


                <!-- convener5 -->
        <section class="container">
        <div class="col-sm-4 col-xs-4 manager convener ">
        <a class="mybox" href="{{ page.convener5.fblink }}"><img src="{{ site.url }}/images/{{ page.convener5.image }}" title="Facebook">
        <div class="myoverbox">
        <div class="mytitle myovertext">f</div>
        </div>
        </a>
        <div class="name">
        <p>{{ page.convener5.name}}</p>
        <b> Manager </b>
        </div>
        </div>
                <!-- /Convener 5 -->

                <!-- Convener 1 -->
        <div class="col-sm-4 col-xs-4 manager convener">
        <a class="mybox" href="{{ page.convener1.fblink }}"><img src="{{ site.url }}/images/{{ page.convener1.image }}" title="Facebook">
        <div class="myoverbox">
        <div class="mytitle myovertext">f</div>
        </div>
        </a>
        <div class="name">
        <p>{{ page.convener1.name}}</p>

        </div>
        </div>
                <!-- /convener1 -->

                <!-- Convener 6 -->
        <div class="col-sm-4 col-xs-4 manager convener">
        <a class="mybox" href="{{ page.convener6.fblink }}"><img src="{{ site.url }}/images/{{ page.convener6.image }}" title="Facebook">
        <div class="myoverbox">
        <div class="mytitle myovertext">f</div>
        </div>
        </a>
        <div class="name">
        <p>{{ page.convener6.name}}</p>

        </div>
        </section>
                <!-- /Convener 6 -->



        <!-- Conveners -->


        <!-- Convener List -->

                <!-- convener7 -->
        <section class="container">
        <div class="col-sm-4 col-xs-4 manager convener ">
        <a class="mybox" href="{{ page.convener7.fblink }}"><img src="{{ site.url }}/images/{{ page.convener7.image }}" title="Facebook">
        <div class="myoverbox">
        <div class="mytitle myovertext">f</div>
        </div>
        </a>
        <div class="name">
        <p>{{ page.convener7.name}}</p>
        <b> CONVENER </b>
        </div>
        </div>
                <!-- /Convener 7 -->
    
          

                <!-- Convener 8 -->
        <div class="col-sm-4 col-xs-4 manager convener">
        <a class="mybox" href="{{ page.convener8.fblink }}"><img src="{{ site.url }}/images/{{ page.convener8.image }}" title="Facebook">
        <div class="myoverbox">
        <div class="mytitle myovertext">f</div>
        </div>
        </a>
        <div class="name">
        <p>{{ page.convener8.name}}</p>
        <b> CONVENER </b>
        </div>
        </div>
                <!-- /convener8 -->

                <!-- Convener 9 -->
        <div class="col-sm-4 col-xs-4 manager convener">
        <a class="mybox" href="{{ page.convener9.fblink }}"><img src="{{ site.url }}/images/{{ page.convener9.image }}" title="Facebook">
        <div class="myoverbox">
        <div class="mytitle myovertext">f</div>
        </div>
        </a>
        <div class="name">
        <p>{{ page.convener9.name}}</p>
        <b> CONVENER </b>
        </div>
        </section>
                <!-- /Convener 9 -->


        <section class="container">

                <!-- Convener 10 -->
        <div class="col-sm-4 col-xs-4 manager convener">
        <a class="mybox" href="{{ page.convener10.fblink }}"><img src="{{ site.url }}/images/{{ page.convener10.image }}" title="Facebook">
        <div class="myoverbox">
        <div class="mytitle myovertext">f</div>
        </div>
        </a>
        <div class="name">
        <p>{{ page.convener10.name}}</p>
        <b> CONVENER </b>
        </div>
        </div>
                <!-- /Convener 10 -->

                <!-- Convener 11 -->
        <div class="col-sm-4 col-xs-4 manager convener">
        <a class="mybox" href="{{ page.convener11.fblink }}"><img src="{{ site.url }}/images/{{ page.convener11.image }}" title="Facebook">
        <div class="myoverbox">
        <div class="mytitle myovertext">f</div>
        </div>
        </a>
        <div class="name">
        <p>{{ page.convener11.name}}</p>
        <b> CONVENER </b>
        </div>
        </div>
                <!-- Convener 11 -->

                <!-- Convener 12 -->
        <div class="col-sm-4 col-xs-4 manager convener">
        <a class="mybox" href="{{ page.convener12.fblink }}"><img src="{{ site.url }}/images/{{ page.convener12.image }}" title="Facebook">
        <div class="myoverbox">
        <div class="mytitle myovertext">f</div>
        </div>
        </a>
        <div class="name">
        <p>{{ page.convener12.name}}</p>
        <b> CONVENER </b>
        </div>
        </section>
                <!-- Convener 12 -->

                <!-- Member list -->

                        <!-- member1 -->
                <section class="container">
                <div class="col-sm-4 col-xs-4 manager convener ">
                <a class="mybox" href="{{ page.member1.fblink }}"><img src="{{ site.url }}/images/{{ page.member1.image }}" title="Facebook">
                <div class="myoverbox">
                <div class="mytitle myovertext">f</div>
                </div>
                </a>
                <div class="name">
                <p>{{ page.member1.name}}</p>
                </div>
                </div>
                        <!-- /member1 -->

                        <!-- member2 -->
                <div class="col-sm-4 col-xs-4 manager convener">
                <a class="mybox" href="{{ page.member2.fblink }}"><img src="{{ site.url }}/images/{{ page.member2.image }}" title="Facebook">
                <div class="myoverbox">
                <div class="mytitle myovertext">f</div>
                </div>
                </a>
                <div class="name">
                <p>{{ page.member2.name}}</p>
                </div>
                </div>
                        <!-- /member2 -->

                        <!-- member3 -->
                <div class="col-sm-4 col-xs-4 manager convener">
                <a class="mybox" href="{{ page.member3.fblink }}"><img src="{{ site.url }}/images/{{ page.member3.image }}" title="Facebook">
                <div class="myoverbox">
                <div class="mytitle myovertext">f</div>
                </div>
                </a>
                <div class="name">
                <p>{{ page.member3.name}}</p>
                </div>
                </section>
                        <!-- /member3 -->


                <section class="container">

                        <!-- member4 -->
                <div class="col-sm-4 col-xs-4 manager convener">
                <a class="mybox" href="{{ page.member4.fblink }}"><img src="{{ site.url }}/images/{{ page.member4.image }}" title="Facebook">
                <div class="myoverbox">
                <div class="mytitle myovertext">f</div>
                </div>
                </a>
                <div class="name">
                <p>{{ page.member4.name}}</p>
                </div>
                </div>
                        <!-- /member4 -->

                        <!-- member5 -->
                <div class="col-sm-4 col-xs-4 manager convener">
                <a class="mybox" href="{{ page.member5.fblink }}"><img src="{{ site.url }}/images/{{ page.member5.image }}" title="Facebook">
                <div class="myoverbox">
                <div class="mytitle myovertext">f</div>
                </div>
                </a>
                <div class="name">
                <p>{{ page.member5.name}}</p>
                </div>
                </div>
                        <!-- /member5 -->

                </section>

                        <!--
                <div class="col-sm-4 col-xs-4 manager convener">
                <a class="mybox" href="{{ page.convener12.fblink }}"><img src="{{ site.url }}/images/{{ page.convener12.image }}" title="Facebook">
                <div class="myoverbox">
                <div class="mytitle myovertext">f</div>
                </div>
                </a>
                <div class="name">
                <p>{{ page.convener12.name}}</p>
                </div>

                       Convener 12 -->


  <!--/MyCode-->

<!-- My Code -->
        <!-- Our Team -->
        <section class="container">
        <p id="team" class="col-sm-12 col-xs-12 text-center">Our Team 2016-2017</p>
        </section>

        <!-- Managers -->
        <section class="container">
        <p id="manager" class="col-sm-12 col-xs-12 text-center" >Managers</p>
        </section>

        <!-- Manager List -->

        <section class="container">
        <div class="col-sm-1 col-xs-1"></div>

                <!-- Manager 1 -->
        <div class="col-sm-4 col-xs-4 manager">
        <a class="mybox" href="{{ page.manager1.fblink }}"><img src="{{ site.url }}/images/{{ page.manager1.image }}" title="Facebook">
        <div class="myoverbox">
        <div class="mytitle myovertext">f</div>
        </div>
        </a>
        <div class="name">
        <p>{{ page.manager1.name }}</p>
        </div>
        </div>
                <!-- /Manager 1 -->


        <div class="col-sm-2 col-xs-2"></div>

                <!-- Manager 2 -->
        <div class="col-sm-4 col-xs-4 manager">
        <a class="mybox" href="{{ page.manager2.fblink }}"><img src="{{ site.url }}/images/{{ page.manager2.image }}" title="Facebook">
        <div class="myoverbox">
        <div class="mytitle myovertext">f</div>
        </div>
        </a>
        <div class="name">
        <p>{{ page.manager2.name }}</p>
        </div>
        </div>
                <!-- /Manager 2 -->

        <div class="col-sm-1 col-xs-1"></div>
        </section>
        <!-- /Manager List -->

        <!-- Conveners -->
        <section class="container">
        <p id="convener" class="col-sm-12 col-xs-12 text-center">Conveners</p>
        </section>

        <!-- Convener List -->

                <!-- Convener1 -->
        <section class="container">
        <div class="col-sm-4 col-xs-4 manager convener ">
        <a class="mybox" href="{{ page.convener1.fblink }}"><img src="{{ site.url }}/images/{{ page.convener1.image }}" title="Facebook">
        <div class="myoverbox">
        <div class="mytitle myovertext">f</div>
        </div>
        </a>
        <div class="name">
        <p>{{ page.convener1.name}}</p>
        </div>
        </div>
                <!-- /Convener 1 -->

                <!-- Convener 2 -->
        <div class="col-sm-4 col-xs-4 manager convener">
        <a class="mybox" href="{{ page.convener2.fblink }}"><img src="{{ site.url }}/images/{{ page.convener2.image }}" title="Facebook">
        <div class="myoverbox">
        <div class="mytitle myovertext">f</div>
        </div>
        </a>
        <div class="name">
        <p>{{ page.convener2.name}}</p>
        </div>
        </div>
                <!-- /Convener2 -->

                <!-- Convener 3 -->
        <div class="col-sm-4 col-xs-4 manager convener">
        <a class="mybox" href="{{ page.convener3.fblink }}"><img src="{{ site.url }}/images/{{ page.convener3.image }}" title="Facebook">
        <div class="myoverbox">
        <div class="mytitle myovertext">f</div>
        </div>
        </a>
        <div class="name">
        <p>{{ page.convener3.name}}</p>
        </div>
        </section>
                <!-- /Convener 3 -->


        <section class="container">

                <!-- Convener 4 -->
        <div class="col-sm-4 col-xs-4 manager convener">
        <a class="mybox" href="{{ page.convener4.fblink }}"><img src="{{ site.url }}/images/{{ page.convener4.image }}" title="Facebook">
        <div class="myoverbox">
        <div class="mytitle myovertext">f</div>
        </div>
        </a>
        <div class="name">
        <p>{{ page.convener4.name}}</p>
        </div>
        </div>
                <!-- /Convener 4 -->

                <!-- Convener 5 -->
        <div class="col-sm-4 col-xs-4 manager convener">
        <a class="mybox" href="{{ page.convener5.fblink }}"><img src="{{ site.url }}/images/{{ page.convener5.image }}" title="Facebook">
        <div class="myoverbox">
        <div class="mytitle myovertext">f</div>
        </div>
        </a>
        <div class="name">
        <p>{{ page.convener5.name}}</p>
        </div>
        </div>
                <!-- Convener 5 -->

                <!-- Convener 6 -->
        <div class="col-sm-4 col-xs-4 manager convener">
        <a class="mybox" href="{{ page.convener6.fblink }}"><img src="{{ site.url }}/images/{{ page.convener6.image }}" title="Facebook">
        <div class="myoverbox">
        <div class="mytitle myovertext">f</div>
        </div>
        </a>
        <div class="name">
        <p>{{ page.convener6.name}}</p>
        </div>
        </section>
                <!-- Convener 6 -->




  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo" class="entry-wrapper">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

</body>
</html>
